<%- include("partials/header") %>

<div class="jumbo">
  <h1>How I Roll...</h1>
</div>

<div class="info">
  <h5 class="heading">Hi, I'm Naomi and I'm a Developer</h5>
  <p class="mb-5">This site is designed to show you what I can do</p>
  <i class="far fa-keyboard fa-7x orange"></i>
</div>

<div class="bg-block"></div>

<div class="row about-bg">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-crosshairs fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="white-heading">Aim</p>
        <p>My aim is to keep things simple and focus on user experience.</p> 
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row about-bg">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-pencil-alt fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="white-heading"">Design</p>
        <p>Getting the message across with uncluttered styling and clear typography.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row about-bg">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-mobile-alt fa-5x orange pl-3"></i>
      </div>
      <div class="col-9 pl-5">
      <p class="white-heading"">Responsive</p>
        <p>Sites look great on all sizes of device from mobile upwards.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row about-bg about-pad">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-universal-access fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="green white-heading"">Accessible</p>
        <p>Written to make the app accessible for screen reader users.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>

<%- include("partials/footer") %>
