<%- include("partials/header") %>

<div class="jumbo">
  <h1>How I Roll...</h1>
</div>

<div class="row py-4 mt-5">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-crosshairs fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="green heading">Aim</p>
        <p>My aim is to keep things simple and focus on user experience.</p> 
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row py-4">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-pencil-alt fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="green heading"">Design</p>
        <p>Getting the message across with uncluttered styling and clear topography.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row py-4">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-mobile-alt fa-5x orange pl-3"></i>
      </div>
      <div class="col-9 pl-5">
      <p class="green heading"">Responsive</p>
        <p>Sites look great on all sizes of device from mobile upwards.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>
<div class="row py-4 mb-5">
  <div class="col-2 col-md-3"></div>
  <div class="col-8 col-md-6">
    <div class="row">
      <div class="col-3 my-auto">
        <i class="fas fa-universal-access fa-5x orange"></i>
      </div>
      <div class="col-9 pl-5">
        <p class="green heading"">Accessible</p>
        <p>Written to make the app accessible for screen reader users.</p>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-3"></div>
</div>

<%- include("partials/footer") %>
