<!DOCTYPE html>
<html lang="en" onclick="window.location.href='/about';">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/02c1331262.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/landing.css">

        <title>Portfolio</title>
    </head>

    <body onload="document.body.style.opacity='1'">
        <div id="landing-text">
            <div class="zoom hidden">
                <h1>Naomi Sharp</h1>
                <h4>Developer</h4>
            </div>
        </div>
    </body>

    <!-- <script type="text/javascript">
        setTimeout("window.location='/about'", 1800);
    </script> -->
        
</html>
        