<%- include("partials/header") %>

<div class="container ">
    <h1>Projects</h1>
    <div class="row example"> 
        <div class="col-lg-7 col-12">
            <a href="https://limitless-plateau-48248.herokuapp.com/">
                <img class="photo" src="/images/yelp.png" alt="Yelpcamp landing page image">
            </a>
        </div>
        <div class="col-lg-5 col-12">
            <h3 class="site-heading py-4 mb-4 mt-2">Yelpcamp</h3>
            <p>This site includes features such as user authentication, add/edit campgrounds, comments and google maps location. </p>
            <p><strong> Project Type:</strong> Dynamic</p>
            <p><strong>Technology:</strong> HTML5 CSS3 Nodejs Bootstrap MongoDB</p>
            <a href="https://github.com/Naosha" class="btn btn-outline-dark mr-2"><i class="fab fa-github"></i> Source Code</a>
            <a href="https://limitless-plateau-48248.herokuapp.com/" class="btn btn-outline-dark"><i class="fas fa-link"></i> Visit Site</a>
        </div>
    </div>
    <div class="row example">
        <div class="col-lg-5 col-12 order-2 order-lg-1">
            <h3 class="site-heading py-4 mb-4 mt-2">Colours Game</h3>
            <p>Guess the RGB colour game! As much fun to play as it was to make! Go on have a go.</p>
            <p><strong> Project Type:</strong> Static</p>
            <p><strong>Technology:</strong> HTML5 CSS3 Nodejs Bootstrap</p>
            <a href="https://github.com/Naosha" class="btn btn-outline-dark mr-2"><i class="fab fa-github"></i> Source Code</a>
            <a href="https://mysterious-mesa-15632.herokuapp.com/" class="btn btn-outline-dark"><i class="fas fa-link"></i> Visit Site</a>
        </div>
        <div class="col-lg-7 col-12 order-1 order-lg-2">
            <a href="https://mysterious-mesa-15632.herokuapp.com/">
                <img class="photo" src="/images/rgb.png" alt="rgb page image">
            </a>
        </div>
    </div>
    <div class="row example">
        <div class="col-lg-7 col-12">
            <a href="https://vast-ocean-61510.herokuapp.com/blogs">
                <img class="photo" src="/images/blog.png" alt="blog page image">
            </a>
        </div>
        <div class="col-lg-5 col-12">
            <h3 class="site-heading py-4 mb-4 mt-2">Blog App</h3>
            <p>An exercise in RESTful routing.</p>
            <p><strong> Project Type:</strong> Dynamic</p>
            <p><strong>Technology:</strong> HTML5 CSS3 Nodejs Semantic UI MongoDB</p>
            <a href="https://github.com/Naosha" class="btn btn-outline-dark mr-2"><i class="fab fa-github"></i> Source Code</a>
            <a href="https://vast-ocean-61510.herokuapp.com/blogs" class="btn btn-outline-dark"><i class="fas fa-link"></i> Visit Site</a>
        </div>
    </div>
    <div class="row example">
        <div class="col-12 col-lg-5 order-2 order-lg-1">
            <h3 class="site-heading py-4 mb-4 mt-2">Museum of Candy</h4>
            <p>This eyecatching site is styled using Bootstrap and made responsive with the grid and flex-box utilities.</p>
            <p><strong> Project Type:</strong> Static</p>
            <p><strong>Technology:</strong> HTML5 CSS3 Nodejs Bootstrap</p>
            <button type="button" class="btn btn-outline-dark mr-2"><i class="fab fa-github"></i> Source Code</button>
        </div>
        <div class="col-12 col-lg-7 order-1 order-lg-2">
            <img class="photo" src="/images/candy.png" alt="candy page image">
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-lg-7">
            <img class="photo" src="/images/gallery.png" alt="gallery page image">
        </div>
        <div class="col-12 col-lg-5">
            <h3 class="site-heading py-4 mb-4 mt-2">Image Gallery</h3>
            <p>Simple image gallery app.</p>
            <p><strong> Project Type:</strong> Static</p>
            <p><strong>Technology:</strong> HTML5 CSS3 Nodejs Bootstrap</p>
            <button type="button" class="btn btn-outline-dark mr-2"><i class="fab fa-github"></i> Source Code</button>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
