<%- include("partials/header") %>

<div class="jumbo">
    <h1>Technology</h1>
</div>
<div class="info fade-in">
    <h5 class="heading">How I did it</h5>
    <p class="mb-5">Some of the tools used to make this site and the portfolio apps featured</p>
    <i class="fas fa-tools fa-7x orange mt-4"></i>
</div>

<div class="bg-block"></div>

<div class="container tech-cont">
    <div class="row tech">
        <div class="col-lg-2 col-6 center">
            <img src="/logos/html5_logo.png" alt="html logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>HTML5 is a software solution stack that defines the properties and behaviors of web page content by implementing a markup based pattern to it.</p>
        </div>
        <div class="col-lg-2 col-6 center">
            <img src="/logos/css3_logo.png" alt="css3 logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>CSS3 is the latest evolution of the Cascading Style Sheets language. It brings features like rounded corners, shadows, gradients, animations, as well as multi-columns, flex box and grid layouts.</p>
        </div>
    </div>
    <div class="row tech">
        <div class="col-lg-2 col-6 center">
            <img src="/logos/javascript_logo.png" alt="javascript logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>JavaScript is a high level, just-in-time compiled, multi paradigm programming language that has curly bracket syntax, dynamic typing, prototype based object orientation, and first class functions.</p>
        </div>
        <div class="col-lg-2 col-6 center">
            <img src="/logos/bootstrap4_logo.png" alt="bootstrap logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>Bootstrap is an open source CSS framework directed at responsive, front-end web development. It contains design templates for typography, forms, buttons, navigation and other interface components. </p>
        </div>
    </div>
    <div class="row tech">
        <div class="col-lg-2 col-6 center">
            <img src="/logos/semantic_UI_logo.png" alt="semanticUI logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>SemanticUI is a modern front-end development framework, powered by LESS and jQuery. It has a sleek, subtle, and flat design look that provides a lightweight user experience.</p>
        </div>
        <div class="col-lg-2 col-6 center">
            <img src="/logos/git_logo.png" alt="git logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>Git is a distributed version control system for tracking changes in source code during software development. It is designed for coordinating work among programmers, but it can be used to track changes in any set of files.</p>
        </div>
    </div>
    <div class="row tech">
        <div class="col-lg-2 col-6 center">
            <img src="/logos/heroku_logo.png" alt="heroku logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>Heroku, one of the first cloud platforms, supports programming languages Java, Node.js, Scala, Clojure, Python, PHP, and Go.</p>
        </div>
        <div class="col-lg-2 col-6 center">
            <img src="/logos/vscode_logo.png" alt="vs_code logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>Visual Studio Code is a source code editor developed by Microsoft. It includes syntax highlighting, intelligent code completion, snippets, and code refactoring.</p>
        </div>
    </div>
    <div class="row tech">
        <div class="col-lg-2 col-6 center">
            <img src="/logos/mongodb_logo.png" alt="mongo db logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>MongoDB is a cross-platform database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schema.</p>
        </div>
        <div class="col-lg-2 col-6 center">
            <img src="/logos/nodejs_logo.png" alt="nodejs logo">
        </div>
        <div class="col-lg-4 col-6 text">
            <p>Node.js is an open source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a browser.</p>
        </div>
    </div>
</div>
            
<%- include("partials/footer") %>