<%- include("partials/header") %>

<div class="container" id="tech-header">
    <h1>Tech</h1>
    <h4>Some of the technologies used to produce this site and the portfolio apps featured</h4>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="/logos/vscode_logo.png" alt="vs_code logo">
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto totam odio molestias quibusdam, labore voluptate, laborum earum eaque dolorum, tempore impedit culpa. Facere asperiores excepturi eum debitis laudantium quos molestiae?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="/logos/mongodb_logo.png" alt="mongo db logo">
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto totam odio molestias quibusdam, labore voluptate, laborum earum eaque dolorum, tempore impedit culpa. Facere asperiores excepturi eum debitis laudantium quos molestiae?</p>
            </div>
        </div>
    </div>
    
    <div>

        <img src="/logos/express_logo.png" alt="express logo">
        <img src="/logos/nodejs_logo.png" alt="nodejs logo">
        <img src="/logos/html5_logo.png" alt="html logo">
        <img src="/logos/css3_logo.png" alt="css3 logo">
        <img src="/logos/javascript_logo.png" alt="javascript logo">
        <img src="/logos/bootstrap4_logo.png" alt="bootstrap logo">
        <img src="/logos/semantic_UI_logo.png" alt="semanticUI logo">
        <img src="/logos/git_logo.png" alt="git logo">
        <img src="/logos/heroku_logo.png" alt="heroku logo">
    </div>
</div>

<%- include("partials/footer") %>