html{
  cursor: pointer;
  height: 100%;
  width: 100%;

}
html, body {
  overflow-x: hidden;
}

body {
  background-image: url(/images/laptop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: lightgrey;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  position: relative;
}

  
#landing-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Alata', sans-serif;
  text-shadow: 2px 2px 3px slategray;
  cursor: pointer;
  min-width: 100%;
}

#landing-text h1 {
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
}

