body {
  background-image: url(/images/laptop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: lightgrey;
  
}

  
#landing-text {
  text-align: center;
  color: white;
  padding-top: 250px;
  font-family: 'Alata', sans-serif;
  text-shadow: 2px 2px 3px slategray;
}

#landing-text h1 {
  font-weight: 500;
  font-size: 50px;
}

