html, body {
  background-color: white;
  font-family: 'Alata', sans-serif;
  color: rgb(88, 88, 88);
  height: 100%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.page-wrapper{
  min-height: 100%;
  margin-top: 55px;
}

.navbar {
  background: rgb(40, 80, 0);
}

.jumbo {
  background: rgb(0, 150, 20);  
  background: -webkit-linear-gradient(to bottom, rgb(150, 255, 12), rgb(0, 150, 20)); 
  background: linear-gradient(to bottom, rgb(150, 255, 12), rgb(0, 150, 20)); 
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.circle {
  background-image: url('/images/naomi.jpg');
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid rgb(40, 80, 0);
  box-shadow: 0 0 10px black;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background: rgb(40, 80, 0);
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.tech {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.tech-cont {
  margin-top: 100px;
  margin-bottom: 100px;
}

.center {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.text {
  margin: auto;
  max-width: 100%;
}

.photo {
  max-width: 100%;
  box-shadow: 
    0.1em 0.1em 0.5em rgb(100, 100, 100), 
    0.1em 0.1em 0.5em rgb(100, 100, 100);
}

h1 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}

#link-btns {
  text-align: center;
  padding: 100px 100px 100px 100px;
} 

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  border: solid 1px rgb(255, 136, 0);
  background: -webkit-linear-gradient(to bottom, rgb(255, 230, 118), rgb(255, 136, 0)); 
  background: linear-gradient(to bottom, rgb(255, 230, 118), rgb(255, 136, 0)); 
  background-color: rgb(255, 136, 0);  
  color: white;
}

.about-bg {
  background-color: white;
  padding-top:90px;
}

.about-pad {
  padding-bottom: 100px;
}

.form {
  margin-top: 100px;
}

.bg-block {
  padding-top: 5px;
  background: -webkit-linear-gradient(to left, rgb(150, 255, 12), rgb(0, 150, 20)); 
  background: linear-gradient(to left, rgb(150, 255, 12), rgb(0, 150, 20)); 
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05);
}


.orange {
  color:rgb(255, 136, 0);
}

.eg-btn {
  padding-top: 30px;
}

/* projects */

.col-8 p {
  font-size: large;
}

.yelp {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(160, 252, 84), rgb(71, 189, 3)); 
  background: linear-gradient(to bottom, rgb(160, 252, 84), rgb(71, 189, 3)); 
  background-color: rgb(116, 221, 55);
  color: white;
}

.nature {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(243, 194, 245), rgb(190, 2, 190)); 
  background: linear-gradient(to bottom, rgb(243, 194, 245), rgb(190, 2, 190)); 
  background-color: rgb(190, 2, 190);
  color: white;
}

.rgb {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(145, 252, 207), rgb(2, 212, 125)); 
  background: linear-gradient(to bottom, rgb(145, 252, 207), rgb(2, 212, 125)); 
  background-color: rgb(2, 212, 125) ;
  color: white;
}

.blog {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(255, 253, 136), rgb(241, 237, 0)); 
  background: linear-gradient(to bottom, rgb(255, 253, 136), rgb(241, 237, 0)); 
  background-color: rgb(241, 237, 0);
  color: white;
}

.candy {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(176, 240, 252), rgb(9, 176, 206)); 
  background: linear-gradient(to bottom, rgb(176, 240, 252), rgb(9, 176, 206)); 
  background-color: rgb(9, 176, 206);
  color: white;
}

.gallery {
  padding: 80px 25px 60px 25px;
  background: -webkit-linear-gradient(to bottom, rgb(255, 230, 118), rgb(255, 136, 0)); 
  background: linear-gradient(to bottom, rgb(255, 230, 118), rgb(255, 136, 0)); 
  background-color: rgb(255, 136, 0);
  color: white;
}

.heading {
  color: rgb(0, 150, 20);
  font-size: 30px;
}

.about-heading {
  color: rgb(0, 150, 20);
  font-size: 40px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
