.jumbo {
  background-color: slategray;
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.orange {
  color:rgb(252, 159, 53);
}

.eg-btn {
  padding-top: 30px;
}

.yelp {
  padding: 80px 25px 60px 25px;
  background-color: rgb(141, 207, 103);
  color: white;
}

.rgb {
  padding: 80px 25px 60px 25px;
  background-color: rgb(140, 164, 190);
  color: white;
}

.blog {
  padding: 80px 25px 60px 25px;
  background-color: rgb(231, 203, 45);
  color: white;
}

.candy {
  padding: 80px 25px 60px 25px;
  background-color: rgb(131, 176, 184);
  color: white;
}

.gallery {
  padding: 80px 25px 60px 25px;
  background-color: rgb(252, 159, 53);
  color: white;
}

.heading {
  color: rgb(141, 207, 103);
  font-size: 30px;
}

.white-heading {
  color: slategray;
  font-size: 30px;
}



html, body {
  background-color: white;
  font-family: 'Alata', sans-serif;
  color: rgb(88, 88, 88);
  height: 100%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.page-wrapper{
  min-height: 100%;
  margin-top: 55px;
}

.navbar {
  background: rgb(88, 88, 88);
}

.footer {
  background: rgb(88, 88, 88);
  color: white;
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.tech {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.tech-cont {
  margin-top: 100px;
  margin-bottom: 100px;
}

.center {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.text {
  margin: auto;
  max-width: 100%;
}

.photo {
  max-width: 100%;
  box-shadow: 
    0.1em 0.1em 0.5em rgb(100, 100, 100), 
    0.1em 0.1em 0.5em rgb(100, 100, 100);
}

h1 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}

label {
  display: block;
  color: white;
}

input {
  width: 100%;
  border-radius: 4px;
  padding: 5px 12px 5px 12px;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.msg-btn{
  background-color: slategray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.msg-btn:hover {
  background-color: #45a049;
}

.msg-cont {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:rgb(141, 207, 103);
  padding: 20px;
}

#link-btns {
  text-align: center;
  padding: 50px 100px 50px 100px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.4rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(252, 159, 53);
  color: white;
}

.about-bg {
  background-color: white;
  padding-top:90px;
}

.about-pad {
  padding-bottom: 100px;
}

.form {
  margin-top: 100px;
}

.bg-block {
  padding-top: 100px;
  background-color: rgb(141, 207, 103);
}










